<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h3>Click below button to expand</h3>
    <button (click)="buttonClick()">+</button>
    <button id="space" (click)="buttonClickX()">x</button>
    
    <!-- <ng-template [ngIf]="value" [ngIfElse]="elsePart"> -->
      <div class="section" *ngIf="value; else elsePart">
        <h4>This is a section under button</h4>
      </div>
    <!-- </ng-template> -->

    <ng-template #elsePart>
      <div>
        <h4>this is a else part</h4>
      </div>
    </ng-template>
    
  </div>
</body>
</html>